---
import LayoutSidebar from "../app/LayoutSidebar.astro";
---


<LayoutSidebar>
	<div class="flex flex-col">
		<div
			class="justify-center items-center mx-auto h-screen xl"
		>
			<h1 class="mb-3 text-5xl font-bold text-center dark:text-white">
				Welcome to HOTC !!
			</h1>
			<h2 class="mb-2 text-xl text-center dark:text-white">HOTC Scent Work Trails</h2>
			<p class="dark:text-white">October 7 & 8, 2023</p>
			<h2 class="mb-2 text-xl text-center dark:text-white">HOTC Agility Trails</h2>
			<p class="dark:text-white">October 27, 28, & 29 2023</p>
			<p class="dark:text-white">Close October 11</p>
			<p class="dark:text-white">Premium Updated 8/15</p>
			<h2 class="mb-2 text-xl text-center dark:text-white">HOTC FAST CAT Trails</h2>
			<p class="dark:text-white">November 3, 4, & 5</p>
		</div>
		<div
			class="justify-right items-right mx-auto h-screen xl"
		>
			<p class="dark:text-white">
				The Huntsville Obedience Training Club is an AKC licensed dog
				club providing classes in many aspects of dog training.
			</p>
			<p class="dark:text-white">

			</p>
		</div>
	</div>
</LayoutSidebar>
