<p class="my-10 text-sm text-center text-gray-500">
	&copy; 2023 - {new Date().getFullYear()} —
	<a href="http://localhost:4321" class="hover:underline" target="_blank"
		>HOTC.org</a
	> -- All rights reserved.
</p>
